html {
  overscroll-behavior: none;
}

html, body {
  margin: 0;
  overflow-x: hidden;
} 

body {
  width: 100%;
  min-width: 400px;
  height: auto;
  color: #e0dbff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 18px;
  overflow: auto;
  background-image: linear-gradient(
      115deg,
      rgba(159, 195, 231, 0.2),
      rgba(122, 6, 109, 0.7)), url(https://cdn.pixabay.com/photo/2016/10/15/15/19/digital-1742687_1280.jpg);
  background-size: cover;
}

h1, #description {
  margin: 1em auto 0;
  text-align: center;
  text-shadow: 5px 5px 4px  #0a0110;
}

h1 {
  font-weight: 400;
  font-size: 4em;
  margin-bottom: -5px;
}

#description {
  margin: 5px;
  font-weight: 300;
}

.container {
  margin: 0 auto 10vh
}

form {
  width: 60vw;
  max-width: 600px;
  margin: 10px auto;
  padding: 5px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: #00000c  10px 10px  30px;
}

.form-group {
  margin: 1em auto;
}

header {
  margin: 30px auto;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
}

label {
  display: block;
  margin: 0.5rem 0;
}


.number-age,
#name,
#email {
  height: 2rem;
  width: 99%;
  border-radius: 5px;
  border: none;
}

#dropdown {
  height: 2.2rem;
  width: 100%;
  border-radius: 5px;
  border: none;
}

#dropdown:hover,
.checkbox-align:hover,
.input-checkbox:hover,
.input-radio:hover,
.radio-label:hover,
.submit-button:hover {
  cursor: pointer;
}

textarea {
  display: inline;
  width: 99%;
  height: 100px;
  border: none;
  border-radius: 5px;
}

.text {
  margin: 20px 0 0;
  border: none;
}

.submit-button {
  margin: 20px auto;
  display: inline;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #d0c8ff;
  border: 5px;
  border-radius: 5px;
  background: linear-gradient(180deg, #be7fe9 0%, #510472 40%,  #210a3b 90%);
}

textarea, 
.submit-button, 
.number-age,
#name,
#email,
#dropdown
 {
  box-shadow: #030215 2px 2px 10px;
  background-color: #e2e2e2;
}

.submit-button {
  box-shadow: #010315 5px 3px 15px;
}

.submit-button:hover {
  transform:scale(105%);
  background: linear-gradient(180deg, #c19aef 0%, #5e228e 40%,  #62369b 90%);
  box-shadow: #c9a7f6 1px 1px 15px;
}

hr {
  margin: 20px -10px;
  border-bottom: 1px #3f2808;
}

.input-checkbox, .input-radio {
  margin: 5px 5px;
 }

 @media (max-width: 600px) {
  .header h1 {
    font-size: 2.5em !important;
  }
  .header #description {
    font-size: small !important;
  }
}

 